.expression {
  color: red
}

.firstPartAlphabet button, .lastPartAlphabet button {
  background-color: rgb(63, 58, 58);
  border: 1px solid rgb(218, 219, 201);
  border-radius: .5em;
  padding: .1em;
  border-style: ridge;
  font-weight: bold;
  color: rgb(236, 222, 18);
  margin: auto;
}

.firstPartAlphabet button:hover, .lastPartAlphabet button:hover {
  background-color: #000;
}

.knownLetters {
  opacity: 50%;
}